body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'NHaasGroteskDSPro-65Md' !important;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
      
#carousel{
  max-height: 500px;
}
.header-2 p{
 text-align: center;
 color: rgb(68, 68, 200);
}
.container1{
  display: flex;
  justify-content: space-between;
  width: 25rem;
  margin-left: 10rem;
}
.box1{
  margin-top: 140px;
}
.text1{
  text-align: center;
}
.side-image img{
  width: 30rem;
  margin-left: 25rem;
  margin-top: 10rem;
  border-radius: 7px;
}
.container2{
  background-color: rgb(147, 147, 241);
  height: 30rem;
  display: flex;
  margin-top: 10rem;
}
.container2 h1{
  margin-top: 8rem;
}
.container2 p{
  padding: 2rem;
}
.container3{
  display: inline-block;
  margin-left: 30rem;
  max-width: 30rem;
}
.btn1{
  border-radius: 20px;
  padding: 7px 19px;
  margin-left: 13rem;
}
.btn1:hover{
  color: rgb(98, 89, 89);
}
.contact1{
  display: flex;
  margin-left: 10rem;
}